body {
    background-color: #101010;
    color: white;
}
.card {
    border-color: #303030;
}
.card-header {
    background-color: #202020;
    color: white;
}
.card-body, .separator span {
    background-color: #404040;
}
.close, .close:hover {
    color: white;
}
.form-control {
    background-color: #505050;
    color: #fff;
}
.form-control:focus {
    background-color: #606060;
    color: #fff;
}
.form-control[readonly] {
    background-color: #707070;
    color: #ccc;
}
.separator {
    border-bottom: 1px solid rgba(255, 255, 255, 0.125);
}
