body, html {
    height: 100%;
}
.social-button a.row {
    color: #fff;
    margin: 5px -10px;
}
.social-button a.row div:first-child {
    float:left;
    margin: auto 6px;
}
.social-button a.row div.col {
    background-color: rgba(255,255,255,0.2);
}
.social-button a.row div.col p {
    margin: 9px 0;
}
.separator {
    width:100%;
    text-align:center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    line-height:0.1em;
    margin:10px 0 20px;
}
.separator span {
    background:#fff;
    padding:0 10px;
}
